body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #30354a;
    font-family: 'Galatea Light', sans-serif;
    margin: 0;
    padding: 0;
}

#main-container {
    z-index: 2;
    width: 1200px;
    max-width: 1200px;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#main-container-patch {
    z-index: 2;
    width: 1200px;
    max-width: 1200px;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

button {
    background: rgb(230, 230, 230);
    border: none;
    font-family: 'Galatea Light', sans-serif;
}

a {
    text-decoration: none;
    color: #f2f3ed;
}

.form-toggle-none {
    display: none;
}

.form-toggle-flex {
    display: flex;
}

.tab-toggle-none {
    color: #f2f3ed;
}

.tab-toggle-text {
    color: #ce8626;
}

.display-none {
    display: none;
}



/* Page title bar */

#title-background {
    z-index: 1;
    position: absolute;
    top: 0;
    min-width: 1200px;
    width: 100%;
    height: 140px;
    background-color: #30354a;
    /*box-shadow: 0px 1px 6px rgb(32, 32, 32);*/
}

#top-title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#img-title-container {
    display: flex;
    align-items: center;
}

#top-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#page-title {
    width: 100%;
    min-height: 60px;
    font-family: 'Galatea Light', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 80px;
    color: #f2f3ed;
    z-index: 2;
}

#title-span {
    font-size: 40px;
}

#icon-img {
    height: 60px;
    width: auto;
    margin-right: 10px;
}

#add-button {
    border-radius: 30px;
    height: 60px;
    width: 60px;
    background-color: #ce8626;
    color: black;
    cursor: pointer;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 35px;
    right: 20px;
}

#sign-button {
    border-radius: 8px;
    height: 27px;
    width: 75px;
    background-color: #30354a;
    color: #f2f3ed;
    cursor: pointer;
    font-size: 13px;
    justify-content: center;
    align-items: center;
}

#sign-out-button {
    border-radius: 8px;
    height: 27px;
    width: 75px;
    background-color: #30354a;
    color: #f2f3ed;
    cursor: pointer;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

#user-img {
    width: 40px;
    height: 40px;
    border-radius: 45px;
    background-image: none;
    background-size: 100%;
    margin-left: 0px;
    cursor: pointer;
    margin-left: 5px;
}

#search-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
}

#search {
    border-radius: 6px;
    width: 300px;
    color: #f2f3ed;
    background: #70778b;
    margin-right: 10px;
}

#cat-sort {
    width: 170px;
    margin-right: 10px;
    font-family: 'Galatea Light', sans-serif;
}

#cat-select-div {
    position: relative;
    height: 27px;
    font-size: 13px;
}

#cat-select-div::after {
    content: '>';
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 20px;
    top: 5px;
    position: absolute;
    color: #f2f3ed;
    font-family: 'Galatea Regular', sans-serif;
}

#cat-select-div select {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    height: 27px;
    padding: 0 0 0 10px;
    font-size: 13px;
    color: #f2f3ed;
    background: #70778b;
    border-radius: 6px;
    position: relative;
}

#year-select {
    width:70px;
    margin-right: 10px;
    font-family: 'Galatea Light', sans-serif;
}

#year-select-div {
    position: relative;
    height: 27px;
    font-size: 13px;
}

#year-select-div::after {
    content: '>';
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 20px;
    top: 5px;
    position: absolute;
    color: #f2f3ed;
    font-family: 'Galatea Regular', sans-serif;
}

#year-select-div select {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    height: 27px;
    padding: 0 0 0 10px;
    font-size: 13px;
    color: #f2f3ed;
    background: #70778b;
    border-radius: 6px;
    position: relative;
}



/* Card buttons */

.delete-btn {
    background-color: lightcoral;
    margin-right: 20px;
    height: 40px;
    width: 120px;
    border-radius: 5px;
}

.delete-btn:hover {
    cursor: pointer;
    background-color: #f2f3ed;
    color: black;
}

.edit-button {
    width: 15px;
    height: 15px;
    padding: 4px;
    margin-left: 5px;
}

.edit-button:hover {
    cursor: pointer;
}

.note-button {
    width: 15px;
    height: 15px;
    padding: 4px;
}

.note-button:hover {
    cursor: pointer;
}



/* Form */

#form-title {
    font-size: 23px;
    margin: 0px 0px 10px 0px;
    justify-content: center;
    align-items: center;
    color: #f2f3ed;
}

#form-container {
    width: 1200px;
    min-height: 290px;
    margin: 0px 0px 50px 0px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#form-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input-row {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
}

.form-element {
    width: 250px;
}

.form-element-margin {
    margin: 0px 25px 0px 25px;
}

label {
    color: #f2f3ed;
}

input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    font-size: 14px;
    font-family: 'Galatea Regular', sans-serif;
    width: 250px;
    height: 27px;
    padding-left: 10px;
    background: rgb(230, 230, 230);
    border-radius: 6px;
}

.select-div {
    position: relative;
    float: left;
    height: 27px;
}

.select-div::after {
    content: '>';
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 12px;
    top: 3px;
    position: absolute;
    color: rgb(78, 78, 78);
    font-family: 'Galatea Regular', sans-serif;
}

.select-div select {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 250px;
    height: 27px;
    padding: 0 0 0 10px;
    font-size: 13px;
    color: rgb(82, 82, 82);
    background: rgb(230, 230, 230);
    border-radius: 6px;
}

#submit:hover {
    cursor: pointer;
    background-color: #f2f3ed;
}

#submit {
    background-color: #ce8626;
    transition: all 1s;
    height: 40px;
    width: 120px;
    border-radius: 5px;
}

#form-close-btn {
    font-size: 12px;
    width: 60px;
    height: 20px;
    background-color: #30354a;
    color: #f2f3ed;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



/* Edit form */

#edit-form-title {
    margin: 0px 0px 10px 0px;
    justify-content: center;
    align-items: center;
    color: #f2f3ed;
}

#edit-title-span {
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#edit-form-container {
    width: 1200px;
    min-height: 290px;
    margin: 0px 0px 50px 0px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.edit-form-input-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}

#edit-submit:hover {
    cursor: pointer;
    background-color: #f2f3ed;
}

#edit-submit {
    background-color: #ce8626;
    height: 40px;
    width: 120px;
    border-radius: 5px;
}

#edit-close-btn {
    font-size: 12px;
    width: 60px;
    height: 20px;
    background-color: #30354a;
    color: #f2f3ed;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



/* Game list */

#game-container-title {
    font-size: 23px;
    margin: 0px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
}

#games-container {
    width: 1210px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px 0px 10px 0px;
}

#title-tab-div {
    display: flex;
    color: #f2f3ed;
    align-items: flex-end;
}

#title-tab-div button {
    height: auto;
    font-size: 13px;
    width: auto;
    border: none;
    box-shadow: none;
    background-color: #30354a;
    margin: 0 2px 0 2px;
    cursor: pointer;
}



/* Game cards */

.game-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #70778b;
    width: 373px;
    min-height: 85px;
    height: auto;
    padding: 10px;
    margin: 0px 10px 10px 0px;
    color: #f2f3ed;
    border-radius: 10px;
}

.game-info-container {
    white-space: pre-line;
    font-size: 13px;
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.first-info-container {
    /*margin-right: 40px;*/
    width: 50%;
}

.second-info-container {
    width: 50%;
}

.title-delete-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.game-title-container {
    width: 300px;
    height: 22px;
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    overflow: hidden;
    font-family: 'Galatea Regular', sans-serif;
}

.game-delete-menu-container {
    display: flex;
    position: relative;
}

.notes-div {
    width: 100%;
    height: 12em;
    max-width: 97%;
    background-color: rgb(242, 243, 237, 0.3);
    color: #f2f3ed;
    border-radius: 5px;
    border: none;
    font-size: 13px;
}



/* Game stats */

#game-stat-div {
    width: 100%;
    display: flex;
    margin-bottom: 70px;
    color: #f2f3ed;
}

#total-hours-div {
    color: #ce8626;
}

#total-games-div {
    color: #ce8626;
    padding-left: 10px;
}



/* Delete confirmation */

#delete-conf-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.459);
    z-index: 5;
}

#delete-conf-div {
    border-radius: 10px;
    background-color: #30354a;
    height: 150px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#delete-conf-titlebar {
    width: 90%;
    height: 20%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f2f3ed;
}

#delete-conf-title {
    font-size: 14px;
}

#delete-conf-close {
    font-size: 12px;
    width: 60px;
    height: 20px;
    margin-top: 25px;
    background-color: #30354a;
    color: #f2f3ed;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#delete-conf-btn-div {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#delete-conf-btn {
    width: 120px;
    height: 40px;
    background-color: lightcoral;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#delete-conf-btn:hover {
    background-color: #f2f3ed;
}



/* Sign Out */

#signout-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.459);
    z-index: 5;
}

#signout-div {
    border-radius: 10px;
    background-color: #30354a;
    height: 150px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signout-titlebar {
    width: 90%;
    height: 20%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f2f3ed;
}

#signout-title {
    font-size: 14px;
}

#signout-close {
    font-size: 12px;
    width: 60px;
    height: 20px;
    margin-top: 25px;
    background-color: #30354a;
    color: #f2f3ed;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#signout-btn-div {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signout-btn {
    width: 120px;
    height: 40px;
    background-color: #ce8626;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#signout-btn:hover {
    background-color: #f2f3ed;
}



/* Footer */

#footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 13px;
    width: 100%;
    min-height: 50px;
    padding-bottom: 20px;
    background-color: rgb(48, 53, 74);
    position: fixed;
    bottom: 0;
}

#patch-link {
    color: #ce8626;
}



/* Patch Notes Page */

.patch-div {
    color: #f2f3ed;
    margin: 0px 15px 30px 15px;
}

.patch-title {
    font-size: 28px;
    height: 80px;
    color: #f2f3ed;
    display: flex;
    align-items: center;
}

.patch-date {
    font-size: 13px;
    color: rgb(242, 157, 22);
}

.patch-notes {
    font-size: 15px;
    margin-bottom: 30px;
}

#go-back-link {
    font-size: 15px;
    color: rgb(242, 157, 22);
    margin: 0 15px 0 15px;
}



/* ##### Responsive Web ##### */
@media screen and (max-width: 1200px) {
    #page-title {
        width: 100%;
    }
}

@media screen and (max-width: 335px) {
    #title-span {
        font-size: 23px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 1000px) {
    body {
        margin: 110px 0 0 0;
    }
    
    #main-container {
        margin-top: 0;
        width: 100%;
        align-items: center;
    }

    #main-container-patch {
        margin-top: -110px;
        width: 100%;
    }

    #title-background {
        display: none;
    }

    #title-background-patch {
        display: none;
    }

    #page-title {
        width: 100%;
        height: 80px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        position: fixed;
        top: 0;
        padding: 10px 0px 10px 0px;
        background-color: #30354a;
    }

    #title-span {
        font-size: 28px;
        margin-left: 10px;
    }

    #img-title-container {
        width: auto;
        justify-content: center;
        align-items: center;
    }

    #icon-img {
        display: none;
        height: 50px;
        margin-left: 10px;
    }

    #sign-out-button {
        margin-right: 0;
        font-size: 13px;
    }

    #sign-button {
        margin-right: 15px;
        font-size: 13px;
    }

    #user-img {
        margin-right: 10px;
    }

    #search-form {
        justify-content: space-between;
    }

    #search {
        min-width: 0;
        width: auto;
        flex-grow: 1;
    }

    #cat-sort {
        margin: 0 10px 0 10px;
    }

    #form-container {
        width: 100%;
        min-height: 460px;
        height: 580px;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 0;
    }

    #form-title {
        justify-content: center;
        width: 95%;
        margin-top: 10px;
    }

    #form-input-container {
        flex-direction: column;
    }

    .form-input-row {
        flex-direction: column;
        margin-bottom: 0;
    }

    .form-element {
        margin: 0px 25px 25px 25px;
        font-weight: lighter;
        width: 300px;
    }

    .form-element-margin-row-two {
        margin: 0 0 6px 0;
    }

    .form-element-margin-year-select {
        margin: 0 0 25px 0;
    }

    .date-input {
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    input {
        width: 300px;
    }

    #edit-form-title {
        font-size: 18px;
        width: 95%;
        max-width: 95%;
        margin-top: 10px;
    }

    #edit-form-container {
        width: 100%;
        min-height: 460px;
        border-radius: 0;
    }

    .edit-form-input-container {
        flex-direction: column;
        margin-bottom: 0;
        align-items: center;
    }

    .select-div select {
        width: 300px;
    }

    #submit {
        margin-top: 10px;
        margin-right: 0;
        background-color: #ce8626;
    }

    #game-container-title {
        display: flex;
        justify-content: center;
        width: 95%;
    }

    #title-tab-div {
        justify-content: center;
    }

    #title-tab-div span{
        display: none;
    }

    #title-tab-div button {
        margin: 0 3px 0 3px;
    }

    #games-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .game-square {
        width: 95%;
        margin: 0px 0px 10px 0px;
        min-width: 50px;
        border: 0;
        border-top: 1px solid #9fa190;
        border-radius: 0;
        padding: 10px 0 10px 0;
        background-color: #30354a;
    }

    .notes-div {
        background-color: #70778b;
    }

    .patch-div {
        margin: 0px 15px 0 15px;
    }

    #go-back-link {
        margin: 0 15px 0px 15px;
    }

    #delete-conf-div {
        width: 80%;
        margin-left: -40%;
    }

    #signout-div {
        width: 80%;
        margin-left: -40%;
    }
}